@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

@font-face {
  font-family: "Gilroy-Black";
  src: url("../fonts/Gilroy/Gilroy-Black.woff2") format("woff2"),
    url("../fonts/Gilroy/Gilroy-Black.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url("../fonts/Gilroy/Gilroy-Bold.woff2") format("woff2"),
    url("../fonts/Gilroy/Gilroy-Bold.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy-Regular";
  src: url("../fonts/Gilroy/Gilroy-Regular.woff2") format("woff2"),
    url("../fonts/Gilroy/Gilroy-Regular.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy-Light";
  src: url("../fonts/Gilroy/Gilroy-Light.woff2") format("woff2"),
    url("../fonts/Gilroy/Gilroy-Light.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Haffer";
  src: url("../fonts/Haffer/Haffer.ttf");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Haffer-SemiBold";
  src: url("../fonts/Haffer/Haffer-SemiBold.ttf");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Haffer-Bold";
  src: url("../fonts/Haffer/Haffer-Bold.ttf");
  font-style: normal;
  font-display: swap;
}
