.btn-cus {
  display: flex;
  padding: 15px 18px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  text-transform: uppercase;
  color: white;
  //border: 1px solid var(--Gradient, #e9442f);
  text-decoration: none;

  background: var(--Gradient, linear-gradient(90deg, #e9442f 0%, #f29531 100%));
  /* Shadow/xs */
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);

  font-family: "Haffer-SemiBold";
  text-transform: uppercase;

  img {
    stroke-width: 1.5px;
    stroke: #fff;
    width: 14px;
    flex-shrink: 0;
  }
}
