@use "../utils" as u;
body {
  padding-top: 80px !important;
  font-family: "Haffer", sans-serif;
  header {
    background: linear-gradient(
      180deg,
      rgba(247, 248, 255, 0.12) 0%,
      rgba(152, 197, 243, 0.12) 100%
    );

    backdrop-filter: blur(17px);
  }
  main {
    position: relative;
    overflow: hidden;
  }
}

.container {
  max-width: u.rem(1216);
  @media (max-width: u.rem(767)) {
    padding-left: u.rem(20);
    padding-right: u.rem(20);
  }
}

.sub-title {
  color: #171725;
  font-family: "Haffer-SemiBold";
  font-size: clamp(1.5rem, 1.2889rem + 0.6757vw, 2.125rem);
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.ft-bd-bot {
  @media (max-width: u.rem(767)) {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      height: 1px;
      width: 200%;
      background-color: #d1d8dd;
      bottom: 1px;
      left: -50%;
    }
  }
}

.floating-object {
  position: absolute !important;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  &.fo-1 {
    width: clamp(3.191875rem, 3.0716rem + 0.385vw, 3.5335625rem);
    height: clamp(1.5640625rem, 1.5051rem + 0.1886vw, 1.7314375rem);

    top: u.rem(-50);
    left: clamp(-3.125rem, 1.1004rem + -3.5211vw, 0rem);
  }

  &.fo-2 {
    color: unset !important;
    font-size: unset !important;
    padding-bottom: unset !important;
    display: unset !important;
    margin-bottom: unset !important;

    width: clamp(3.773125rem, 3.3433rem + 1.3755vw, 4.993875rem);
    //height: clamp(4.5771875rem, 4.0557rem + 1.6687vw, 6.0581875rem);

    bottom: u.rem(-75);
    left: u.rem(-75);

    &::after {
      all: unset !important;
    }

    @media (max-width: 767px) {
      position: unset !important;
      display: block !important;
      width: 100px !important;
      height: unset !important;
      margin: 0 auto;
      margin-top: -50px;
      img {
        height: auto !important;
      }
    }
  }
}

.inner-title-sec {
  text-align: center;
  span {
    color: #14212d;
    font-family: "Haffer";
    font-size: 17px;
    text-transform: uppercase;

    display: inline-block;
    position: relative;
    width: fit-content;
    padding-bottom: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      width: 40%;
      background-color: #2277b9;
      height: 2px;
    }
  }
  h3 {
    color: #171725;
    text-align: center;
    font-family: "Haffer-SemiBold";
    font-size: 34px;
    line-height: 150%;

    max-width: 620px;
    margin: 0 auto;
  }
}
