@use "../utils" as u;

nav.navbar {
  //min-height: u.rem(80);
  background-color: #fff;
  border-bottom: 1px solid #f2f4f7;
  padding: u.rem(16.5) 0;

  .container {
    .navbar-brand {
      max-width: u.rem(150);
      img {
        width: 100%;
      }
    }
    .navbar-collapse {
      .navbar-nav {
        gap: u.rem(10);
        .nav-item {
          position: relative;
          &:not(:last-child) {
            &::after {
              content: "";
              display: block;
              margin: auto;
              height: 3px;
              width: 0;
              top: 5px;
              background: transparent;
              transition: all 0.3s;
            }
            &:hover,
            &.active {
              &::after {
                width: 100%;
                background: var(
                  --Gradient,
                  linear-gradient(90deg, #e9442f 0%, #f29531 100%)
                );
              }
            }

            .nav-link {
              padding: u.rem(10) u.rem(18);
              color: #171725;
              font-size: u.rem(16);
              font-style: normal;
              font-weight: 400;
            }
          }
        }
      }
    }
  }
}
